/* ---------- General---------- */
:root {
  --main-grey: #7d8075;
  --main-green: #7eba55;
  --main-blue: #1b81be;
  --main-gold: #fabe42;
  --main-red: #d6463f;
  --main-purple: #855f9f;
  --footer-grey: #343531;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: 5em auto auto auto auto auto auto;
  grid-row-gap: 0;
  grid-template-areas:
    "logo nav"
    "banner banner"
    "main main"
    "second second"
    "sidebar sidebar"
    "third third"
    "footer footer";
}
/* ---------- Home Page ---------- */

/* ----- Navbar ----- */
header {
  background: white;
  text-align: left;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-top: solid #1b81be 0.5em;
  margin-bottom: 0;
}

.header-logo {
  grid-area: logo;
  height: 80px;
  margin-left: 1em;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  grid-area: nav;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 0.25em;
}

nav a {
  color: var(--main-grey);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: calc(100% - 60px);
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: var(--main-grey);
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav a:hover {
  color: var(--main-green);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 50ms ease-in-out 250ms;
}

/* ----- Banner----- */
.banner {
  grid-area: banner;
  background: url(../img/banner-main.jpg) no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  height: 15vh;
}

/* ----- Sidebar----- */
.sidebar {
  grid-area: sidebar;
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  font-size: 1.5em;
  background: #f1f1f1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 0 auto;
  padding: 0;
  border-top: solid var(--main-grey) 1px;
  height: 2em;
  display: flex;
  align-items: center;
}

.sidebar li:first-child {
  border-top: none;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--main-blue);
}

/* ----- Main----- */
.main {
  grid-area: main;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em;
}

.main-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0;
  font-size: 1.75em;
}

.main-content {
  margin-top: 1em;
}

/* ----- Secondary ----- */
.second {
  grid-area: second;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em;
}

.secondary-header {
  color: var(--main-blue);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-bottom: 0;
}

/* ----- Third----- */
.third {
  grid-area: third;
  color: white;
}

.third-content {
  height: 10vh;
  display: flex;
  justify-content: center;
  min-width: calc(100% - 60px);
  height: 260px;
  width: 260px;
  margin: 4em auto;
  padding: 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.third-content:first-child {
  margin-top: 1em;
}

.third-content p {
  position: relative;
  width: 100%;
  top: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-content a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.student {
  background: url(../img/student.jpg);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.student-info {
  background-color: var(--main-gold);
  height: 20%;
}

.campus {
  background-image: url(../img/campus.jpg);
}

.campus-info {
  background-color: var(--main-red);
  height: 20%;
}

.stories {
  background-image: url(../img/stories.jpg);
}

.stories-info {
  background-color: var(--main-purple);
  height: 20%;
}

/* ----- Footer---- */
.footer {
  grid-area: footer;
  background-color: var(--footer-grey);
  color: white;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-logo {
  width: 210px;
  margin: 1em auto;
}

.footer a {
  color: white;
  text-align: center;
}

.donate {
  background-color: var(--main-green);
  text-decoration: none;
  font-weight: bold;
  padding: 1em 2em;
  width: 280px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 2em auto;
}

.thanks {
  background-color: black;
  color: white;
  height: 3em;
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
  font: Cambria, serif, italic bold;
}

/* -------------------- Tablet Screen -------------------- */
@media screen and (min-width: 768px) {
  /* ---------- General---------- */
  .content {
    grid-row-gap: 0;
    grid-template-areas:
      "logo logo logo"
      "nav nav nav"
      "banner banner banner"
      "sidebar main main"
      "sidebar second second"
      "third third third"
      "footer footer footer";
  }

  /* ----- Navbar ----- */
  .nav-toggle-label {
    display: none;
  }

  .logo {
    grid-area: logo;
    grid-column: 1 / span 3;
    height: 5em;
  }

  .header-logo {
    width: calc(33% - 5px);
  }

  nav {
    all: unset;
    display: flex;
    justify-content: center;
    height: 2em;
    align-items: center;
    margin-bottom: 0;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav li {
    margin: 0 2em;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: var(--main-green);
    position: absolute;
    bottom: -1.2em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  .dropdown {
    padding-bottom: 2em;
  }

  .dropdown-content {
    position: absolute;
    top: 43px;
    left: 32px;
    width: 200px;
  }

  .dropdown-content li {
    margin: 0 auto;
    height: 3em;
    display: flex;
    align-items: center;
  }

  .dropdown-content li a:hover {
    color: white;
  }

  .dropdown-content li a {
    font-size: 1em;
  }

  .dropdown-content li a::before {
    display: none;
  }

  /* ----- Banner----- */
  .banner {
    height: 20vh;
  }

  /* ----- Sidebar----- */
  .sidebar {
    background-color: white;
    height: 35vh;
    margin-top: 1em;
    font-size: 1.35em;
  }

  /* ----- Main ----- */
  .main-header {
    font-size: 2.5em;
  }

  /* ----- Secondary ----- */

  /* ----- Third ---- */
  .third {
    text-align: center;
    margin: 1em auto 5em auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .third-content {
    min-width: 200px;
    width: 240px;
    margin: 0 auto !important;
    display: inline-block;
    vertical-align: middle;
    height: 160px;
  }

  .third-content p {
    top: 130px;
    height: 3em;
    padding: 0.5em;
  }

  /* ----- Footer---- */
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
  }

  .logo-link {
    align-self: left;
    text-align: right;
    width: 37%;
    margin-top: 1.5em;
  }

  .footer-logo {
    margin-left: 3em;
  }

  .address {
    width: 63%;
    text-align: left;
    align-self: right;
    margin-top: 1.5em;
  }

  .donate {
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    bottom: 85px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .thanks {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

/* -------------------- Desktop Screen -------------------- */
@media screen and (min-width: 1170px) {
  /* ---------- General---------- */
  .content {
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
      "logo nav nav"
      "banner banner banner"
      "sidebar main main"
      "sidebar second second"
      "third third third"
      "footer footer footer";
      /* grid-template-rows: none;
      grid-template-areas: none; */
  }

  /* ----- Navbar ----- */
  .nav-toggle-label {
    all: unset;
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;
  }

  .logo {
    all: unset;
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  .dropdown {
    padding: 0;
  }

  /* ----- Banner---- */
  .banner {
    grid-area: banner;
    margin: 0;
    padding: 0;
    height: 30vh;
  }

  .third-content {
    width: 380px;
    height: 300px;
  }

  .third-content p {
    top: 236px;
    opacity: .8;
  }

  /* ----- Footer--- */
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "footer-logo footer-address donate"
  }

  .logo-link {
    grid-area: footer-logo;
  }

  .address {
    grid-area: footer-address;
  }

  .donate {
    grid-area: donate;
  }

}
